<link rel="stylesheet" href="/styles/footer.css">

<footer class="footer">
    <div class="footer_container">
        <p>2025 © Odin Project Assignment by Lamfih Billy. all rights reserved.</p>
    </div>
</footer>