<link rel="stylesheet" href="/styles/navbar.css">

<nav class="nav_body">
    <div class="nav_container">
    <a class="logo" href="/">Logo</a>
    <a href="/create" class="createItem">Add Cloth</a>
    <ul class="nav_links">
        <li>
            <a href="/designers">Designers</a>
        </li>
        <li>
            <a href="/brands">Brands</a>
        </li>
        <li>
            <a href="/inventory">Inventory</a>
        </li>
    </ul>
    </div>
</div>
</nav>